[Desktop Entry]
Name=Start Cyber Range
Comment=Launch the CTF Captive Portal
Exec=/home/stemday/portal/start_kiosk.sh
Icon=browser
Terminal=false
Type=Application
Categories=Utility;
