global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'blackbox_ssh'
    metrics_path: /probe
    params:
      module: [tcp_connect]
    static_configs:
      - targets:
        - 192.168.2.10:22
        - 192.168.2.20:22
        - 192.168.2.30:22
        - 192.168.2.101:22
        - 192.168.2.102:22
        - 192.168.2.103:22
        - 192.168.2.104:22
        - 192.168.2.105:22
        - 192.168.2.106:22
        - 192.168.2.107:22
        - 192.168.2.108:22
        - 192.168.2.109:22
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [instance]
        regex: '(.*):\d+'
        target_label: instance
        replacement: '${1}'
      - target_label: __address__
        replacement: blackbox_exporter:9115

  - job_name: 'cadvisor'
    scrape_interval: 10s
    static_configs:
      - targets:
        - 192.168.2.10:8080
        - 192.168.2.20:8080
        - 192.168.2.30:8080